html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
}

.app {
  font-family: "Poppins", sans-serif;
  height: 100%;
  flex-grow: 1;
}
.app .bg {
  background: url("/images/bg.jpg") no-repeat;
  background-size: cover;
  height: 100%;
}
.app .bg .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}
.app .bg .wrapper span.date {
  color: #eb6725;
  font-weight: 300;
  font-size: 46px;
}
.app .bg .wrapper .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.app .bg .wrapper .content h1 {
  color: #005cb9;
  font-size: 85px;
  font-weight: 300;
  margin: 0;
}
.app .bg .wrapper .content span.meet {
  font-size: 53px;
  font-weight: 500;
  color: #6d6f72;
}
.app .bg .wrapper .content span.time {
  font-size: 67px;
  font-weight: 300;
  color: #eb6725;
}
.app .bg .wrapper .footer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.app .bg .wrapper .footer img {
  width: 25%;
}
.app .rooms {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.app .rooms a {
  flex-grow: 1;
  margin: 0 15px;
  text-decoration: none;
}
.app .rooms a .room {
  height: 90px;
  box-shadow: 0 0 6px 3px #ccc;
  text-align: center;
  line-height: 92px;
}
